<!DOCTYPE html>
<html>

<head>
  <title> University Clubs </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <%- include('./partials/navbar.ejs', {user: user}) %>
    <div class="container-fluid mt-5">
      <h2 class="p-3 text-center">Browse our Clubs!</h2>
      <div class="list-group">
        <div class="row px-3 py-1 w-120">
          <span class="col py-2 bg-noroff">
            <h2>Club ID</h2>
          </span>
          <span class="col py-2 bg-noroff">
            <h2>Club Name</h2>
          </span>
          <span class="col py-2 bg-noroff">
            <h2>Description</h2>
          </span>
          <span class="col py-2 bg-noroff">
            <h2>Date Created</h2>
          </span>
          <span class="col py-2 bg-noroff">
            <h2>Options</h2>
          </span>
        </div>
        <% clubs.forEach(function(club) { %>
          <div class="row px-3 py-1 w-120">
            <span class="col py-1 bg-light">
              <h4>
                <%=club.id%>
              </h4>
            </span>
            <span class="col py-1 bg-light">
              <h4>
                <%=club.Name%>
              </h4>
            </span>
            <span class="col py-1 bg-light">
              <%=club.Description%>
            </span>
            <span class="col py-1 bg-light text-right">
              <%=club.ClubCreatedDate%>
            </span>
            <span class="col py-2 bg-light">
              <% if (user) { %>
                <form action="/clubs/<%= club.id %>" method="get">
                  <button class="btn btn-success" type="submit">Club Details</button>
                </form>
                <% if (!(userClubs.some(obj=> obj.ClubId === club.id))) { %>
                  <% if (user.role !='admin' ){ %>

                    <form action="/clubs/join/<%= club.id %>" method="post" id="formJoin">
                      <button class="btn btn-warning" type="submit">Join Club</button>
                    </form>

                    <% } %>
                      <% } %>
                        <% } else { %>
                          <p>Log in to join Club.</p>
                          <% } %>
            </span>
          </div>
          <% }); %>
            <hr>
      </div>
    </div>
</body>

</html>